apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: flask-email-config
  namespace: flask-prod  # Correto: Onde o alerta nasce
  labels:
    release: rancher-monitoring
spec:
  route:
    receiver: 'email-me'
    groupBy: ['alertname']
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 12h
      #matchers:
      #- name: severity
      # value: critical

  receivers:
  - name: 'email-me'
    emailConfigs:
    - to: 'diego.amsatnaf@gmail.com'          # Destinatário (Você)
      from: 'diego.amsatnaf@gmail.com'        # Remetente (Você)
      smarthost: 'smtp.gmail.com:587'
      authUsername: 'diego.amsatnaf@gmail.com' # Usuário do Login
      authIdentity: 'diego.amsatnaf@gmail.com' # Identidade
      authPassword:
        name: email-auth 
        key: password
      requireTLS: true
