apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-web
  namespace: flask-prod
  labels:
    app: flask-web
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: flask-web
  template:
    metadata:
      labels:
        app: flask-web
      annotations: # ---------------------------------------------------------
        # A MÁGICA ACONTECE AQUI:
        # Dizemos para injetar o agente Python usando a config do namespace 'signoz'
        instrumentation.opentelemetry.io/inject-python: "signoz/signoz-instrumentation"
        # --------------------------------------------------------------------
    spec:
      containers:
        - name: flask-web
          image: ghcr.io/amsatnaf/flask-web:49c639a33393be80e67d9694727674a3e192a42e
          imagePullPolicy: Always
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10

          # --- CORREÇÃO DE INDENTAÇÃO AQUI ---
          # O 'env' deve estar alinhado com 'livenessProbe', 'image', etc.
          env:
          # --- Variáveis Fixas ---
          - name: DB_HOST
            value: "34.44.72.27"
          - name: DB_NAME
            value: "loja_rum"

          # --- Variáveis Secretas (CORRIGIDO) ---
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: mysql-gcp-creds
                key: DB_USER   # <--- Mudamos de 'username' para 'DB_USER'

          - name: DB_PASS
            valueFrom:
              secretKeyRef:
                name: mysql-gcp-creds
                key: DB_PASS   # <--- Mudamos de 'password' para 'DB_PASS'
